<!-- THIS IS USING EJS MATE AND IT IS EXPORTING THIS CODE TO SPECIFIED PATH AND WHOLE EJS/HTML DOCUMENT IS COMPLETE PRESENT THERE -->
<% layout('layouts/boilerplate') %> 
    
<div class="row">
    <h1 class="text-center">New Trek</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/treks" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <!-- no validate is telling browser to not to validate the form -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="trek[title]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="trek[location]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- <div class="form-file">
                <input type="file" class="form-file-input" id="image" name="image" multiple>
                <label class="form-file-label" for="image">
                    <span class="form-file-text">Choose image(s)...</span>
                    <span class="form-file-button">Browse</span>
                </label>
            </div> -->
            <!-- <input type="file" name="image" id="" multiple> -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="trek[image]" required>
                <div class="valid-feedback">Looks good!</div>
            </div> -->

            <div class="mb-3">
                <label class="form-label" for="price">Trek Price</label> 
                <div class="input-group">
                    <span class="input-group-text" id="price-label">@</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="trek[price]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="trek[description]" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
                <!-- <label class="input-group-text" for="image">Upload</label> -->
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Trek</button>
            </div>
        </form>
    </div>
</div>